

lview {
    border-right: 5px solid #b6b6b6;
    border-left: 5px solid #b6b6b6;
    border-top: 5px solid #b6b6b6;
    border-bottom: 5px solid #b6b6b6;
    background-color: lightslategrey;
    border-radius-bottomleft: 2px;

}

RightDisplay {
    border-right: 5px solid #b6b6b6;
    border-left: none;
    border-top: 5px solid #b6b6b6;
    border-bottom: 5px solid #b6b6b6;
}